

#root {
  height:100%;
  width: 100%;
  direction: rtl;
}


body{

  /*background: linear-gradient(to top, #cec0b0, #b5aea6, rgba(92, 122, 146, 0.85)) fixed;*/
  background-size: 100%;
}

.panel-body{
  padding: 0;
}