
#header{
    background: linear-gradient(to bottom, #eef1e7 1%,#c9c9c9 62%,#adb1a6 100%);
    height: 36px;
    border: none;
    width: 100%;
    border-radius: 0;
    box-shadow: 2px -4px 29px #448AFF;
    margin: 0;
}

#header #title{

    font-size: 3vh;
    text-align: center;
    color: #251c1c;
    text-shadow: #404040 0px 3px 5px;
}